.advantage {
  text-align: center;
}

.advantages_image-wrapper{
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.advantage_icon{
  width: 4.25rem;
  height: 4.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%) ;
}

.advantage_icon-one{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%) ;
  width: 2.6875rem;
  height: 4.25rem;
}

.headline_subtitle{
  margin-bottom: 4.0625rem;
}