html{
  font-size: 16px;

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 14px;
  }
}

html, 
body {
  height: 100%;
}



body {
  font-family: 'Alegreya Sans', sans-serif;
  color:#FFF;
  line-height: 1.42;
  background: #313131;
  -webkit-font-smoothing: antialiased;
  position: relative;
  -moz-animation-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  position: relative;
}

.container {
  position: relative;
  width: 95%;
  max-width: 940px;
  margin: 0 auto;

  @include tablets{
    width: 100%;
  }
}

a {
  color: inherit;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

li {
  display: list-item;
}


h1 h2 h3 h4 h5 h6 {
  margin: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p{
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

footer {
  position: relative;
  width: 100%;
}
.section {
  display: flex;
  min-height: 40.75rem;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
  background: white;

  &--font-color--white{
    color: #FFF;
  }

  @include tablets{
    min-height: 108vh;
  }
}

.title{
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  margin-bottom: 1.125rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 37.5rem;
}
