
.contacts__phone{
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;

  
&:before{
  content: url("../img/contacts__phone-before.png");
  margin-left: -1.25rem;
  position: absolute;
  flex-shrink: 0;
}
}
.header-contacts_phone{
  @include tablets{
    display: none;
  }
}
.footer-contacts_phone{
  &:before{
    content: url("../img/phones.png");
    margin-left: -1.25rem;
    position: absolute;
    flex-shrink: 0;
  }
}

.contacts__place{
  font-size: 21px;
  font-weight: 400;
}

