.hello_title {
  width: 17rem;
  font-size: 48px;
  font-weight: bold;
  line-height: 3.625rem;
  margin-bottom: 1.1875rem;
  text-transform: uppercase;
  font-style: normal;

  @include tablets{
    width: 41rem;
  }

  @include phones {
    display: flex;
    text-align: center;
    align-items: flex-end;
    padding: 0 15%;
    font-size: 40px;
  }
}

.hello__desc {
  font-size: 21px;
  font-weight: normal;;
  margin-bottom: 39px;
}