$containerWidth :940px;
$baseFontSize:16px;

$tablets:768px;
$phones:480px;
$mphones:360px;

@import "./media.scss";

//normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "./base.scss";

@import "./header.scss";
@import "./logo.scss";
@import "./menu.scss";
@import "./contacts.scss";
@import "./hello.scss";
@import "./button.scss";
@import "./info.scss";
@import "./map.scss";
@import "./why.scss";
@import "./advantage.scss";
@import "./advantages.scss";
@import "./reviews.scss";
@import "./basket.scss";
@import "./radio.scss";
@import "./order.scss";
@import "./hamburger.scss";
@import "./mapp.scss";