$containerWidth :940px;
$baseFontSize:16px;

$tablets:768px;
$phones:480px;
$mphones:426px;

@import "./media.scss";

//setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "./base.scss";

@import "./header.scss";
@import "./logo.scss";
@import "./menu.scss";
@import "./contacts.scss";
@import "./hello.scss";
@import "./button.scss";
@import "./info.scss";
@import "./map.scss";
@import "./why.scss";
@import "./advantage.scss";
@import "./advantages.scss";
@import "./reviews.scss";
@import "./basket.scss";
@import "./radio.scss";
@import "./order.scss";
@import "./hamburger.scss";
@import "./mapp.scss";
@import "./footer.scss";
@import "./socials.scss";
@import "./shop.scss";
@import "./team.scss";
@import "./overlay.scss";
@import "./accordion.scss";
@import "./modal.scss";