
	.map-fixed{
		display: flex;
		flex-direction: column;
		position: fixed;
		top: 35%;
		right: 8%;
	 
		@include tablets{
		  display: none;
		}
	 }
	 
	 .map-fixed_item{
		margin-bottom: 0.125rem;
	 
		&-active {
		  .map-fixed_link{
			 border-color: #ffffff;
		  }
		}
		
	 }
	 
	 .map-fixed_link{
		width: 1.125rem;
		height: 1.1875rem;
		border-radius: 50%;
		border: 0.0625rem solid transparent;
		display: block;
		position: relative;
	 
		&:before{
		  content: "";
		  display: block;
		  width: 0.375rem;
		  height: 0.375rem;
		  border-radius: 50%;
		  background: #fff;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		}

		&:hover{
			border:1px solid #fff;
		}
	 }