.radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
  user-select: none;

  @include mphones {
    margin-right: 0.625rem;
  }

  &--checkbox{
    .radio_visible{
      border-radius: 0;
      &:before{
        background: url(../img/pik.png) center center no-repeat;
      }
    }
  }
}

.radio_controls{
  display: none;

  &:checked ~ .radio_visible{
    &:before{
      display: block;
    }
  }
}

.radio_visible {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-right: 0.625rem;

  &:before{
    content: "";
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    background:#FEDB3F;
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}