.container__team{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 
 
 
 .team__list{
	display: flex;
	justify-content: space-between;
 }
 
 .team__item{
	margin-right: 1.25rem;
	position: relative;
	text-align: center;
	max-width: 13.75rem;
	&:last-child{
	  margin-right: 0;
	}
 }
 
 .team__item .active{
	text-align: center;
 }
 
 
 
 .team__title{
	text-align: center;
	margin-top: 1.3125rem;
	font-size: 1.3125rem;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	&::after{
	  content: url(../img/team-after.png);
	  position: absolute;
	  top: -0.0625rem;
	  right: 0.6875rem;
	}
 }
 
 .team-version-desktop .team__content{
  position: absolute;
  top:100%; 
 
 }
 
 .team__content{
	  height: 0;
	  overflow: hidden;
	  transition: height .2s;
	
 }
 
 .team__content-block{
	padding-bottom: 5px;
	text-align: center;
 }
 
 .team__item-active .team__title {
	position: relative; }
	.team__item-active .team__title::after {
	  content: url(../img/arrow-top.png);
	  position: absolute; }
 .team__item-active .team__content {
	height: 100%;
	text-align: center;
	overflow: hidden; }
 
	.team__item-active .team__content-block{
	  text-align: center;
	}
 
 
 
 
	.team-version-desktop{
	  @include tablets{
		 display: none;
	  }
	}
 
 
	.team-version-mobile{
	  display: none;
	  @include tablets{
		 display: flex;
		 flex-direction: column;
		 align-items: center;
		 justify-content: center;
	  }
	}
 
	.team__item-active .team__content {
	  @include tablets{
		 min-height: 289px;
		 transition: height 1s;
	}
 }
 .team__position{
	color:black;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}
.team__actions {
	color: #666;
	@include tablets{
		color: #666;
    margin-top: 0.1rem; }
	}
