.basket {
  background-image: url(../../img/cta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2b2b2b;
  color: #fff;
}

.basket_container {
  height: 40.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basket_title {
  margin-bottom: 3.75rem;
  margin-top: 2.125rem;
}

.form {
  display: flex;
}

.form_col {
  flex: 1;
  margin-right: 0.3125rem;
  margin-left: 0.25rem;
  margin-bottom: 4.25rem;
}
.form_col:last-child {
  margin-right: 0;
}

.form_row {
  display: flex;
  flex: 1;
  margin-bottom: 0.625rem;
}

.form_item {
  flex: 1;
  margin-right: 1.25rem;
}
.form_item:last-child {
  margin-right: 0;
}

.form_name {
  margin-bottom: 0.375rem;
}

.form_input {
  width: 100%;
  padding: 1.125rem 0.75rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  border: 3px solid transparent;
}
.form_input:focus {
  border: 3px solid #FEDB3F;
}

.form_textarea {
  resize: none;
  height: 9.375rem;
  margin-bottom: 1.5625rem;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.controls:before {
  display: none;
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 50%;
  background-color: #FEDB3F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}