.basket {
  background-image: url(../../img/cta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2b2b2b;
  color: #fff;
}

.basket_container {
  height: 652px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basket_title {
  margin-bottom: 60px;
  margin-top: 34px;
}

.form {
  display: flex;
}

.form_col {
  flex: 1;
  margin-right: 5px;
  margin-left: 4px;
  margin-bottom: 68px;
}
.form_col:last-child {
  margin-right: 0;
}

.form_row {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
}

.form_item {
  flex: 1;
  margin-right: 20px;
}
.form_item:last-child {
  margin-right: 0;
}

.form_name {
  margin-bottom: 6px;
}

.form_input {
  width: 100%;
  padding: 18px 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  border: 3px solid transparent;
}
.form_input:focus {
  border: 3px solid #FEDB3F;
}

.form_textarea {
  resize: none;
  height: 150px;
  margin-bottom: 25px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.controls:before {
  display: none;
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #FEDB3F;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}