.button {
  cursor: pointer;
  background: #FEDB3F;
  color: #000000;
  border-radius: 6.25rem;
  padding:1.3125rem 2.5625rem;
  font-size: 1rem;
  font-weight: 800 ;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  border: none;
  

  &--theme--transparent {
    background: transparent;
    color:#fff;
    text-transform: none;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: normal;

  }
}