
.contacts__phone{
  text-decoration: none;
  font-size: 1.375rem;
  font-weight: bold;
  white-space: nowrap;

  
&::before{
  content: url("../../img/contacts__phone-before.png");
  height: 1.8125rem;
  right: 8.75rem;
  top: 1.8125rem;
  position: absolute;
  flex-shrink: 0;
}
}
.header-contacts_phone{
  @include tablets{
    display: none;
  }
}

