.hello_title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.625rem;
  margin-bottom: 1.1875rem;
  text-transform: uppercase;
  font-style: normal;
}

.hello__desc {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin-bottom: 2.4375rem;
}