.info_list{
  width: 32.875rem;
  height: 2.5625rem;
  margin-top: -1rem;
  margin-left: 0.25rem;

  .info-content{
    display: flex;
    justify-content: space-between;
    margin-right: 2.5rem;


    .info_item{
      width: 8.875rem;
      height: 2.5625rem;
      display: flex;
      align-items: center;

      .info-pik{
        margin-right: 0;
        float: left;
        margin-right: 0.875rem;
      }

      .info-text{
        font-size: 1rem;
        line-height: 1.125rem;
      }
    }
  }
}