.info_list {
  width: 526px;
  height: 41px;
  margin-top: -16px;
  margin-left: 4px;
}
.info_list .info-content {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
.info_list .info-content .info_item {
  width: 142px;
  height: 41px;
  display: flex;
  align-items: center;
}
.info_list .info-content .info_item .info-pik {
  margin-right: 0;
  float: left;
  margin-right: 14px;
}
.info_list .info-content .info_item .info-text {
  font-size: 16px;
  line-height: 18px;
}