.map-fixed{
  position: fixed;
  top: 35%;
  right: 23.5%;
}

.map-fixed_item{
  margin-bottom: 2px;

  &-active {
    .map-fixed_link{
      border-color: #ffffff;
    }
  }
}

.map-fixed_link{
  width: 18px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;

  &:before{
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}