.menu {
  margin-top: -6px;
  margin-left: 33px;
}

.menu__item {
  display: inline;
  margin-right: 20px;
}

.menu__link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.menu__list {
  margin-right: 31px;
}