.reviews {
  background: #f8faf9;
}

.reviews_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews_title {
  margin-bottom: 2rem;
  color: #292929;
}

.reviews_content {
  min-height: 21.75rem;
  background-color: #f8faf9;
  padding: 2.625rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-bottom: 1.125rem;
}

.review_hero {
  margin-right: 16.1875rem;
}

.hero_one {
  position: absolute;
  top: 2.875rem;
  left: 0.5625rem;
}

.review_contentblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review_title {
  font-weight: bold;
  font-size: 1.6875rem;
  margin-bottom: 1.0625rem;
  line-height: 2rem;
  color: #292929;
}

.review_text {
  font-weight: 400;
  color: #666;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin-bottom: 3.1875rem;
}

.review_hero-name {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #292929;
}

.reviews_list {
  display: flex;
  justify-content: center;
  margin-left: -0.75rem;
}

.reviews_list-photo-active {
  border: 0.375rem solid #fedb3f;
}

.reviews_list-photo {
  border-radius: 50%;
  width: 4.625rem;
  height: 4.625rem;
  margin-left: 0.375rem;
}